In [1]:
import numpy as np

In [2]:
arr = np.arange(6) + 10*np.arange(6)[:,np.newaxis]
arr

array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])

In [3]:
arr[::2] # same as arr[::2,:]

array([[ 0,  1,  2,  3,  4,  5],
       [20, 21, 22, 23, 24, 25],
       [40, 41, 42, 43, 44, 45]])

In [4]:
arr[:,::2]

array([[ 0,  2,  4],
       [10, 12, 14],
       [20, 22, 24],
       [30, 32, 34],
       [40, 42, 44],
       [50, 52, 54]])

In [5]:
arr[::2,::2]

array([[ 0,  2,  4],
       [20, 22, 24],
       [40, 42, 44]])

In [6]:
# take every third row
arr[::3] # start : stop : step

array([[ 0,  1,  2,  3,  4,  5],
       [30, 31, 32, 33, 34, 35]])

In [7]:
arr[0:6:3] # same as before because of implicit start and stop

array([[ 0,  1,  2,  3,  4,  5],
       [30, 31, 32, 33, 34, 35]])

In [8]:
arr[0:9:3] # end can be beyond the end and that's ok

array([[ 0,  1,  2,  3,  4,  5],
       [30, 31, 32, 33, 34, 35]])

# Indexing recap

In [9]:
arr

array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])

In [10]:
inds = [0, 2, 3]
arr[inds]

array([[ 0,  1,  2,  3,  4,  5],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35]])

In [11]:
row_inds = [0, 1, 2, 3]
col_inds = [1, 2, 3, 4]
arr[row_inds, col_inds]

array([ 1, 12, 23, 34])

In [12]:
mask = [True, True, False, False, False, True]
arr[mask]

array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [50, 51, 52, 53, 54, 55]])

In [13]:
arr[:,mask]

array([[ 0,  1,  5],
       [10, 11, 15],
       [20, 21, 25],
       [30, 31, 35],
       [40, 41, 45],
       [50, 51, 55]])

In [14]:
arr[2:5,mask]

array([[20, 21, 25],
       [30, 31, 35],
       [40, 41, 45]])

In [15]:
# mask from conditional expression
test = np.arange(10)
test

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
test < 5

array([ True,  True,  True,  True,  True, False, False, False, False,
       False])

In [17]:
test[test < 5]

array([0, 1, 2, 3, 4])

# Aggregation

In [18]:
arr

array([[ 0,  1,  2,  3,  4,  5],
       [10, 11, 12, 13, 14, 15],
       [20, 21, 22, 23, 24, 25],
       [30, 31, 32, 33, 34, 35],
       [40, 41, 42, 43, 44, 45],
       [50, 51, 52, 53, 54, 55]])

In [19]:
arr.min()

0

In [20]:
arr.max()

55

In [21]:
# we get the smallest value in each row
# by aggregating over columns (axis = 1)
arr.min(axis=1)

array([ 0, 10, 20, 30, 40, 50])

In [22]:
arr.min(axis=0)

array([0, 1, 2, 3, 4, 5])

# Assignment

In [23]:
a_list = [1, 2, 3]
a_list

[1, 2, 3]

In [24]:
a_list[1] = 'this is a new value'
a_list

[1, 'this is a new value', 3]

In [25]:
test2 = np.arange(10)
test2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [26]:
test2[4] = -12
test2

array([  0,   1,   2,   3, -12,   5,   6,   7,   8,   9])

In [27]:
test2 = np.arange(10)
test2[4] = 'this is a new value'
test2

ValueError: invalid literal for int() with base 10: 'this is a new value'

In [28]:
test3 = np.arange(10)

In [29]:
test3[:5]

array([0, 1, 2, 3, 4])

In [30]:
test3[:5] = -100
test3

array([-100, -100, -100, -100, -100,    5,    6,    7,    8,    9])

In [31]:
test3

array([-100, -100, -100, -100, -100,    5,    6,    7,    8,    9])

In [32]:
test4 = np.arange(10)
test4[::2] = -100

In [33]:
test4

array([-100,    1, -100,    3, -100,    5, -100,    7, -100,    9])

In [34]:
test5 = np.arange(10)
test5[::2] = np.array([-5, 10, -15, 20, -25])
test5

array([ -5,   1,  10,   3, -15,   5,  20,   7, -25,   9])

In [35]:
test5 = np.arange(10)
test5[::2] = np.array([-5, 10, -15, 20]) # <-- wrong size!
test5

ValueError: could not broadcast input array from shape (4) into shape (5)

# Copy vs. View

In [36]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
lil_arr = arr[:5] # creates a new VIEW
lil_arr

array([0, 1, 2, 3, 4])

In [38]:
lil_arr[0] = 23
lil_arr

array([23,  1,  2,  3,  4])

In [39]:
arr

array([23,  1,  2,  3,  4,  5,  6,  7,  8,  9])

In [40]:
lil_arr2 = arr[::2]
lil_arr2

array([23,  2,  4,  6,  8])

In [41]:
lil_arr2[3] = -6
lil_arr2

array([23,  2,  4, -6,  8])

In [42]:
arr

array([23,  1,  2,  3,  4,  5, -6,  7,  8,  9])

In [43]:
lil_arr3 = arr[:5].copy() # force numpy to create a copy
lil_arr3

array([23,  1,  2,  3,  4])

In [44]:
lil_arr3[1] = -100
lil_arr3

array([  23, -100,    2,    3,    4])

In [45]:
arr

array([23,  1,  2,  3,  4,  5, -6,  7,  8,  9])

In [46]:
# indexing
inds = [0,1,2,3,4]
ind_arr = arr[inds]
ind_arr

array([23,  1,  2,  3,  4])

In [47]:
ind_arr[0] = -23
ind_arr

array([-23,   1,   2,   3,   4])

In [48]:
arr

array([23,  1,  2,  3,  4,  5, -6,  7,  8,  9])

# Bonus: how do you know if your array is a view?

In [49]:
arr, lil_arr, ind_arr

(array([23,  1,  2,  3,  4,  5, -6,  7,  8,  9]),
 array([23,  1,  2,  3,  4]),
 array([-23,   1,   2,   3,   4]))

In [50]:
arr.flags # OWNDATA : True means that this array owns its own data

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [52]:
lil_arr.flags # OWNDATA : False means that this array is a view onto another array's data

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [53]:
ind_arr.flags # OWNDATA : True because this is a copy (it used indexing)

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [54]:
arr[:5].flags

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [55]:
arr[:5].copy().flags

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [56]:
list_example = list(range(10))
list_example

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
lil_list = list_example[:5]
lil_list[0] = 23
lil_list

[23, 1, 2, 3, 4]

In [58]:
list_example

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]